.Contact-sec{
    height: auto;
    width: 100%;
    padding: 20px;
   background-color: #e6e6e6;
    font-family: satoshi;
    
}
.inner-content{
    height: auto;
    width: 50%;
    /* background-color: yellow; */
    margin: 20px auto;
}
.inner-content h1{
     font-size: clamp(1rem, 5vw, 5rem);
    font-family: satoshi;
    text-align: center;
    letter-spacing: 5px;
    margin: 4rem 0px;
}
.form{
     width: 100%;
     height: auto;
    /* background-color: rgb(83, 83, 61); */
    margin-bottom: 20px;
    text-align: center;
   
 
}
.form button{
    padding:  1rem 2rem;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid orange;

}
button:hover{
    border-bottom: 2px solid orange;
}

#format{
    width: 100%;
    /* background-color: pink; */
 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    /* padding: 10px; */
}
#format input {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid orange;
   background-color: #e6e6e6;
    outline: none;

}
input::placeholder{
    font-size: medium;
    font-weight: 100;
}
#format label {
    font-size: 1rem;
    width: 80%;
    /* margin-bottom: 5px; */
    padding: 10px;
    text-align: left;
    /* background-color: antiquewhite; */

}
