.Footer-sec {
    height: 100vh;
    width: 100%;
    /* background-color: aqua; */
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-family: satoshi;
    background-color: #e6e6e6;
    border: none;
    /* box-shadow: 0 0 10px rgba(114, 112, 112, 0.2); */
}

.logo {
    width: 100%;
    /* padding: 10px 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;

}

.col {
    /* padding: 20px; */
    width: 100%;
    /* background-color: blue; */
    display: flex;
    /* grid-template-columns: 4 , 1fr;
    grid-template-rows: 4 , 1fr; */
    justify-content: center;
    gap: 7rem;
    align-items: center;
    text-align: center;
}

.col1 h2 {
    font-size: clamp(1rem, 4vw, 1.4rem);
    padding: 8px;

}

.col1 ul {
    margin-bottom: 10px;
    font-size: clamp(1rem, 4vw, 1rem);
    padding: 5px;
    display: block;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: grey;
    margin: 0 auto;
}

.social-link {
    padding: 30px;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10rem;

}

.social-link img {
    padding: 10px;
    border-radius: 20px;
    transition: 0.6s ease;

}

.social-link img:hover {
    transform: translateY(-5px);
    background-color: rgb(212, 91, 47);
}

.copyRight {
    color: grey;
    width: 100%;
    font-size: clamp(0.2rem, 3vw, 0.7rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.designer {
    margin-top: 20px;
    color: rgb(94, 82, 82);
    width: 100%;
    font-size: clamp(0.2rem, 3vw, 0.8rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.designer h3 {
    font-weight: 100;
}

@media (max-width: 800px) {
    .Footer-sec {
        height: auto;
        width: 100%;
    }

    .col {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-content: center;
        align-items: center;
        /* color: white; */
        text-align: center;
    }

}