.Hero {
    height: auto;
    width: 100%;
    /* margin: 0 auto; */
  background-color: #e6e6e6;
    border: none;
    padding: 5rem 0;
}

.hero-heading {
    height: auto;
    width: 65vw;
    margin: 0px auto;
    /* background-color: rgb(139, 139, 5    6); */
    padding: 20px;
}

.loop {
    padding: 15px;
    width: 25%;
    /* height: 2rem; */
    overflow-x: hidden;
    /* background-color: aqua; */
    margin: 0px auto;
    display: flex;
    font-family: satoshi;
    text-transform: uppercase;
    font-size: 0.9rem;


}

.loop h4 {
    animation: loops 9s linear infinite both;

}

@keyframes loops {
    from {
        transform: translateX(100px);
    }

    to {


        transform: translateX(-100px);
    }

}

.hero-heading h1 {
    font-size: clamp(1rem, 4vw, 4.9rem);
    font-family: satoshi;
    text-align: center;
    letter-spacing: 5px;
}

.heading2 {
    width: 40vw;
    height: auto;
    /* background-color: burlywood; */
    margin: 6px auto;
    text-align: center;
    font-size: clamp(1rem, 5vw, 0.6rem);
    font-family: satoshi;
    color: rgb(66, 54, 54);


}

.All-pic {
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    height: 100vh;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;
    margin: 10px auto;


}

.img {
    height: 18rem;
    width: 60%;
    border: 2px solid rgb(92, 88, 88);
    overflow: hidden;
    position: relative;
    transition: 3s ease;
    z-index: 3;
    background-color: #e6e6e6;
    border: none;
    box-shadow: 0 0 10px rgba(114, 112, 112, 0.2);

}

.topic {
    position: absolute;
    /* background-color: aqua; */
    font-family: satoshi;
    font-size: clamp(1rem, 2vw, 2rem);
    top: 20px;
    left: 20px;
    text-align: left;
    height: auto;
    width: 90%;
    z-index: 1;
    color: rgb(66, 63, 63);
    margin-top: 20px;
}

.topic button {
    padding: 5px;
    background-color: transparent;
    border: none;
    margin-top: 20px;
}

.big {
    height: 18rem;
    width: 35%;
    overflow: hidden;
    border: 2px solid rgb(92, 87, 87);
    position: relative;
    transition: 3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
    border: none;
    box-shadow: 0 0 10px rgba(114, 112, 112, 0.2);


}

.big .black-img {
    height: 100%;

    width: 100%;
    z-index: 1;
    /* filter: brightness(80%); */
    background-color: rgba(0, 0, 0, 0.3);


    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* top: 20px; */
    left: 0px;
}

.big img {
    width: 95%;
    object-fit: contain;
    aspect-ratio: 1/1;
    transition: 1s ease;
}

.img img {
    width: 100%;
    /* background-position: calc(90px); */
    /* position: relative; */
    transition: 1s ease;
}

.All-pic img:hover {
    transform: scale(1.1);
}



.black-img:hover~img,
.big:hover img {
    transform: scale(1.1);
}

.black-img button {
    padding: 20px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    gap: 5px;
}

.black-img button:hover {
    border-bottom: 2px solid orange;
}

@media (max-width: 800px) {
    .Hero {
        height: auto;
        width: 100%;
            /* background-color: aqua; */

       padding: 30px 0px;
        margin:0px;
    }

    .All-pic {
     
        /* display: block;
        justify-content: center;
        align-items: center; */
        height: auto;
        width: 100%;
        /* margin: 0 0; */
        gap: 1rem;
    }

    .big {
        width: 90%;
        height: auto; 
        /* margin: 0 auto;   */
    }

    .img {
       width: 90%;  
        /* margin: 0 auto; */
        height: auto;
    }

}