    .Product-sec {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* background-color: aqua; */
        font-family: satoshi;
        /* margin-bottom: 10rem; */
        background-color: #e6e6e6;
        border: none;
        box-shadow: 0 0 10px rgba(114, 112, 112, 0.2);
    }

    .Product-topic {
        /* background-color: blue; */
        width: 60%;
        padding: 20px;
        display: block;
        justify-content: center;
        align-items: center;


    }

    .Product-topic h2,
    img {
        margin-right: 10px;
        text-transform: uppercase;


    }

    .Product-content {
        width: 92%;
        display: flex;
        justify-content: space-around;
        /* background-color: blue  ; */
        align-items: center;
        gap: 5rem;
        margin-top: 10rem;

        button {
            padding: 20px 30px;
            border-radius: 10px;
            border: none;
            background-color: black;
            color: white;
            font-weight: 600;
            font-size: 1rem;

        }
    }

    .Product-list {
        /* height: 40rem; */
        width: 96%;
        margin: 10px auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* background: #000; */
    }

    .Product-list .box {
        width: 33%;
        /* height: 28rem; */
        border: 1px solid rgb(150, 145, 145);
        /* background-color: rgb(94, 151, 201); */
        /* overflow: hidden; */
            margin-bottom: 10px;
            gap: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        /* overflow: hidden; */
        border-radius: 10px;
        /* padding: 5px; */
        background-color: #e6e6e6;
        border: none;
        box-shadow: 0 0 10px rgba(114, 112, 112, 0.2);
    }


    .BOx-img {
        width: 100%;
        object-fit: contain;
        /* aspect-ratio: 1/1; */
        transition: transform 2s ease;
        /* background-color: aqua; */
    }

    /* .box img:hover {
  transform: scale(0.9);
   transform-origin: center center;

} */
    .box h2 {
        padding: 30px;
        font-size: 0.9rem;
        text-align: left;
        text-transform: uppercase;

        span {
            color: grey;
            font-size: 0.8rem;
        }
    }

    @media (max-width: 700px) {
        .Product-sec {
            width: 100%;
            height: auto;
            /* padding: 20px; */
            /* margin: 20px 0px; */
            /* background-color: yellow; */

        }

        .Product-content {
            width: 100%;
            height: 10rem;
            text-align: center;
            display: grid;
            justify-content: center;
            align-items: center;
        }
        .Product-content button{
            display: none;
        }
        .Product-topic {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

        .Product-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .Product-list .box {
            width: 80%;
            height: auto;
            padding: 20px;
        }

        .Product-list .box h2 {
            width: 100%;
            /* height: 10rem; */
            padding: 10px;
            /* background-color: aqua; */
        }
    }